body {
    background-image: url("../image/hedge_background.jpg");
    background-color: #5CDB95;
    margin: 3%;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(transparent, #5CDB95 40%);
}

.contract-body-elem {
    background-color: #379683;
    margin: 10px 0;
}

.outer-border {
    border: #05386B solid 2px;
    padding: 3px !important;
    height: 100%;
}

#contracts-block {
    padding: 4em;
    margin: 0;
    position: relative;
    border: #05386B solid 4px;
}

#contracts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contract-card {
    border: #5CDB95 solid 3px;
    border-radius: 10px;
    background-color: #05386B;
    margin: 10px;
    width: min-content;
    height: 150px;
}

.card-body {
    text-align: center;
    color: #8EE4AF;
}

.card-subtitle {
    color: #EDF5E1;
}

.card-bottom {
    height: min-content;
}

.card-bottom-part {
    margin-left: 10px;
    margin-right: 10px;
    height: min-content;
}

.card-bottom-part p {
    margin: 0;
}

.more-data {
    cursor: pointer;
}

#group-select {
    width: min-content;
}

#type-select {
    width: min-content;
}

.inline-form-element {
    margin: 5px;
}

.corner-decoration {
    position: absolute;
    width: 10em;
    margin: -3px;
}

.corner-decoration.corner-left-bottom {
	left: 0;
	bottom: 0;
}

.corner-decoration.corner-left-top {
	left: 0;
	top: 0;
    transform: rotate(90deg);
}

.corner-decoration.corner-right-top {
	top: 0;
	right: 0;
    transform: rotate(180deg);
}

.corner-decoration.corner-right-bottom {
	right: 0;
	bottom: 0;
    transform: rotate(270deg);
}



.vertical-decoration {
    position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 16em;
}

.vertical-decoration.top {
	top: 0;

}

.vertical-decoration.bottom {
	bottom: 0;
	-webkit-transform: scaleY(-1);
            transform: scaleY(-1);
}